<ul>
<li>Нож</li>
<li>Одноручный</li>
<li>Беларусь</li>
<li>15 см</li>
<li>8 мм</li>
<li>Сталь</li>
<li>клён</li>
<li>true</li>
<li>false</li>
<br/>
<br/>
<li>Пика</li>
<li>Двуручный</li>
<li>Канада</li>
<li>20 см</li>
<li>16 мм</li>
<li>Медь</li>
<li>клён</li>
<li>true</li>
<li>false</li>
<br/>
<br/>
<li>Кортик</li>
<li>Одноручный</li>
<li>Беларусь</li>
<li>13 см</li>
<li>14 мм</li>
<li>Сталь</li>
<li>Пластик</li>
<li>true</li>
<li>false</li>
<br/>
<br/>
<li>Сабля</li>
<li>Одноручный</li>
<li>Россия</li>
<li>15 см</li>
<li>17 мм</li>
<li>Железо</li>
<li>дуб</li>
<li>false</li>
<li>true</li>
<br/>
<br/>
</ul>
